<div *ngIf="product.title || product.price || product.imageUrl" class="card">
    <img *ngIf="product.imageUrl" [src]="product.imageUrl" [alt]="product.title" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title"> {{product.title}} </h5>
        <p class="card-text"><strong>{{product.price | currency:'USD':'symbol'}}</strong></p>
    </div>
    <div class="card-footer">
        <button *ngIf="showActions" class="btn btn-primary btn-block" (click)="addToCart(product)">
            Add to Cart
        </button>
    </div>
</div>